body {
   font-size: 87.5%;
   font-family: Courier New, 'Lucida Sans Unicode';
}

#codeTitle {
   padding-top: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}

#programCode {
   width: 35%;
   height: 368px;
   float: left;
   overflow: auto;
   clear: left;
   border: 1px solid black;
   margin-bottom: 5px;
}

#editorDiv {
   overflow: auto;
}

#fig1Editor td tr { overflow: auto; }

#insertDiv {
   width: 15px;
   height: 368px;
   float: left;
}

#offsetDiv {
   width: auto;
   height: 1.5%;
   overflow: auto;
}

#insertTable td { }

#insertTable  {
   width: 1px;
   font-size: 14px;
   float: left;
   border-collapse: collapse;
   padding: 0px;
   margin: 0px;
}

.rightButton {width: 100%; font-size: 100%; }

#buttons {
   margin-left: 5px;
   margin-right: 5px;
   padding-left: 0.2%;
   width: auto;
   float: left;
   overflow: auto;
   margin: 0 0;
}

#varTitle {
   clear: left;
   margin-top: 0px;
   margin-bottom: 0px;
}

.outterDiv {
   width: 35%;
   clear: left;
   margin-bottom: 15px;
}

#outTitle {
   clear: left;
   margin-bottom: 0px;
}

#outputBox {
   clear: left;
}

.rwButton {width:20%;}

#runWalk {
   padding-top: 10px;
   width: 35%;
   overflow: auto;
   margin: 0 0; 
}

table {
   border: none;
   border-collapse: collapse;
   padding: 0px;
   margin: 0px;
}

td {
   border: none;
   border-collapse: collapse;
   padding: 0px;
   margin: 0px;
}

.innerTable {
   overflow: scroll;
   border: none;
   border-collapse: collapse;
   padding: 0px;
   margin: 0px;
}

.innerTable td tr { overflow: auto;}
.varDiv {
   margin-top: 5px;
   height: 100px;
   overflow: auto;
   resize: none;
   border: 1px solid black;
}

.normal {
   border-spacing: 15px 1px;
   border-collapse: separate;
}

/** For ipad and ipad mini **/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
   /* STYLES GO HERE */
   #programCode { width: 70%; height: 400px;}
   #insertDiv {height: 400px; }
   .outterDiv { width: 70%; }
   #runWalk { width: 70%; }
}

/** iphone 2-4s/ smartphones **/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
   /* STYLES GO HERE */
   #programCode { width: 70%; height: 400px;}
   #insertDiv {height: 400px; }
   .outterDiv { width: 70%; }
   #runWalk { width: 70%; }
}

/** iphone 5 **/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
   /* STYLES GO HERE */
   #programCode { width: 70%; height: 400px;}
   #insertDiv {height: 400px; }
   .outterDiv { width: 70%; }
   #runWalk { width: 70%; }   
}

/** Samsung Galaxy S3 in portrait **/
@media only screen and (-webkit-device-pixel-ratio: 2) {
   /* YOUR STYLE GOES HERE */
   #programCode { width: 70%; height: 400px; }
   #insertDiv { height: 400px; }
   .outterDiv { width: 70%; }
   #runWalk { width: 70%; }
}